@use "settings" as set;
@use "variables" as var;

header {
  color: var.$white1;
  position: relative;
  min-height: 100vh;

  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    opacity: 0;
    transform: translateY(40px);
    animation: headerAnim 1.5s forwards;

    @keyframes headerAnim {
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
    h1 {
      @include var.title;
      font-size: 4rem;
      letter-spacing: 6px;
    }
    p {
      margin: 40px auto 60px;
      font-style: italic;
      width: 85%;
    }
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid var.$white1;
      border-radius: 50px;
      height: 60px;
      width: 60px;
      font-size: 1.2rem;
      transition: 0.2s;

      &:hover {
        transform: scale(1.2);
      }
    }
    nav {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.25);
      width: 85%;
      height: 65px;
      z-index: 100;
      bottom: 0;
      .pages {
        justify-content: center;
      }
      ul {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .pages {
        &:hover li:not(:hover) {
          background: none;
          color: var.$white1;
        }
        height: 100%;
        li {
          height: 100%;
          @include var.title;
          font-size: 0.7rem;
          padding: 0 15px;
          display: flex;
          align-items: center;
          cursor: pointer;
          transition: 0.2s;

          &:first-child {
            background: var.$white1;
            color: var.$black1;
          }
          &:hover {
            background: var.$white1;
            color: var.$black1;
          }
        }
      }
      .reseau {
        font-size: 1.1rem;
        min-width: 100px;
        width: 25%;
        max-width: 300px;
        justify-content: space-around;
        margin-right: 10px;
        li {
          transition: 0.2s;
          cursor: pointer;

          &:hover {
            transform: scale(1.3);
          }
        }
      }
    }
  }
}
